@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="~/Content/EstilosGeneral/styles.css" rel="stylesheet" />
<link href="~/Content/EstilosGeneral/CajaTextoYoko.css" rel="stylesheet" />

<div class="row d-flex justify-content-end" style="margin-top: 20px;">
    <div class="col Div">Catálogo de cargo</div>

    <button type="button" class="btn Boton" data-toggle="modal" data-target="#modalCargo">Nuevo cargo</button>
    @Html.Partial("ModalNuevoCargo")
</div>

<hr />


<div class="row d-flex justify-content-center" style="margin-top: 10px" ; id="padre">
    <div class="cardView">
        <div class="linea"></div>
        <div class="custom-switch d-flex justify-content-between">
            <div class="spanText">
                Catálogo de cargo
            </div>
            <div style="margin-top: 5px;">
                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1"></label>
            </div>
        </div>
        <div class="hr"></div>
        <div>
            <div class="d-flex justify-content-center ammountText">
                $5,000.00
            </div>
        </div>

        <div class="d-flex justify-content-end" style="margin-right: 10px;">
            <a href="#">
                <i class="material-icons icono">border_color</i>
            </a>
            <a href="##">
                <i class="material-icons icono">delete</i>
            </a>
        </div>

    </div>
</div>

